################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Framework/FileContentIndex
/UserManagement/bin/Debug/net8.0
